h2{
    color:darkgray;
    text-align: center;
    font-size: 40px;
}
input[type=text]{
    width: 100%;
    padding: 8px 8px;
    margin: 4px 0px;
}
input[type=submit]{
    width: 100%;
    height: 40px;
    color: white;
    background-color: yellowgreen;
    padding: 12px 12px;
    border: none;
    border-radius: 20px;
}

body{
    background-color: ghostwhite;
    padding : 10px
}