<!DOCTYPE HTML>
<HTML lang="en">
    <head>
        <title>Bill Form</title>
        <link rel="stylesheet" href="/static/bill_form_page.css">
    </head>
    <body>
      <h2>Bill Form</h2> 
      <form action = "/results" method = "post">
        {{billform.bill_amt.label}} {{billform.bill_amt}}
        <br>
        {{billform.bill_period.label}} {{billform.bill_period}}
        <hr>

        <p>First FlatMate</p>
        {{billform.name1.label}} {{billform.name1}}
        <br>
        {{billform.days_in_house1.label}} {{billform.days_in_house1}}
        <hr>

        <p>Second FlatMate</p>
        {{billform.name2.label}} {{billform.name2}}
        <br>
        {{billform.days_in_house2.label}} {{billform.days_in_house2}}
        <br>
        {{billform.button}}
      </form> 
    </body>
</HTML>